<!DOCTYPE html> 
<html data-ng-app="fatnest">
<head> 

<base href="/" />
<meta charset="UTF-8" />

<!-- Meta Details -->
<title>Fatnest</title>

<!-- iOS -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- bower:less -->
<link rel="stylesheet/less" href="bower_components/semantic-ui/src/semantic.less" />
<!-- endbower -->

<link rel="stylesheet/less" href="less/style.less" />

<!-- bower:css -->
<!-- endbower -->

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/twitter-text/twitter-text.js"></script>
<script src="bower_components/less/dist/less.js"></script>
<script src="bower_components/semantic-ui/dist/semantic.js"></script>
<!-- endbower -->

<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/resourceCacheService.js"></script>
<script type="text/javascript" src="js/homeController.js"></script>
<script type="text/javascript" src="js/fatnestController.js"></script>
<script type="text/javascript" src="js/dashboardController.js"></script>
</head>

<body>
	<div class="container">

		<header><h1 class="ui header">f a t n e s t</h1></header>

		<div class="ui" ng-controller="fatnestController">
				
				<div ng-view>

				</div>
			</div>
		</div>

		{% if body_dataset|default(false) %}
		<div preload-body="{{ body_dataset|json|safe|entityEscape }}"></div>
		{% endif %}
	</body>
	<script>window.twttr = (function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0],
	    t = window.twttr || {};
	  if (d.getElementById(id)) return t;
	  js = d.createElement(s);
	  js.id = id;
	  js.src = "https://platform.twitter.com/widgets.js";
	  fjs.parentNode.insertBefore(js, fjs);
	 
	  t._e = [];
	  t.ready = function(f) {
	    t._e.push(f);
	  };
	 
	  return t;
	}(document, "script", "twitter-wjs"));</script>
</body>
</html>