	<div class="row">
		<div class="four columns">
			<div class="row">
				<h3>Tweet</h3>
				<select ng-model="selectedAccount" ng-change="refreshTweets(selectedAccount)">
					<option 
						ng-style="{ 'background-image': 'url(' + account.profile_image_url + ')', 'background-repeat': 'no-repeat', 'background-position': 'left' }"
						ng-selected="{{ primaryAccount.id == account.id }}" 
						ng-repeat="account in delegatedAccounts" 
						value="{{ account.screen_name }}"
						>
						{{ account.screen_name }}
					</option>
				</select>
				<textarea class="u-full-width"
					ng-model="drah3ft" 
					ng-change="evalTweet()"
					></textarea>
				<div ng-bind="charCount"></div>
			</div>

			<div class="row">
				<h3>Delegate your account</h3>
			
				<ul>
					<li ng-repeat="account in delegatedToAccounts">
						{{ account.screen_name }}
						<button ng-click="removeDelegate(account.id)">X</button>
					</li>
				</ul>
				<form name="newDelegateForm" novalidate ng-submit="checkDelegate()">
				<input name="newDelegate" ng-model="newDelegate" required>
				<button>Add</button>
				<div ng-show="newDelegateForm.newDelegate.$touched && newDelegateForm.newDelegate.$error" ng-messages="newDelegateForm.newDelegate.$error">
					<div ng-message="required">You must enter a Twitter username.</div>
					<div ng-message="duplicate">You've already delegated to this account.</div>
				</div>
				</form>
			</div>

			<div class="row">
				<small>Signed in as <strong>@{{ primaryAccount.username }}</strong> <a href="/logout" target="_self">Log out</a></small>
			</div>
		</div>

		<div class="eight columns" ng-bind-html="tweets">

		</div>
	</div>
