
	<div class="row">
		<small>Signed in as <strong>@{{ primaryAccount.screen_name }}</strong> <a href="/logout" target="_self">Log out</a></small>
	</div>

	<div class="row">
		<h2>Tweet</h2>
	</div>

	<ul class="account-list delegated-from">
		<li ng-repeat="account in delegatedAccounts" 
			ng-class="{active : accountIsSelected(account)}">
			<a href="#" 
				ng-click="selectAccount(account)">
				<img 
					ng-src="{{ account.profile_image_url }}" 
					alt="{{ account.screen_name }}">
				{{ account.screen_name }}
			</a>
		</li>
	</ul>

	<div class="row">
		<textarea class="u-full-width draftbox"
			ng-model="draft" 
			ng-change="evalTweet()"
			></textarea>
		<div class="button-holder">
			<button 
				ng-disabled="!checkTweet()" 
				ng-click="tweet()">
				Tweet 
				<span 
					id="charCount" 
					ng-bind="'(' + charCount + ')'" 
					ng-class="{ 
						dangerous: charCount <= 20 && charCount > 0, 
						impossible: charCount <= 0,
						unimportant: charCount > 20
					}">
				</span>
			</button> 
		</div>
	</div>

	<div class="row">
		<h2>Delegate your account</h2>
	</div>

	<ul class="account-list delegated-to">
		<li ng-repeat="account in delegatedToAccounts">
			<span>
				<img ng-src="{{ account.profile_image_url }}" alt="{{ account.screen_name }}">
				{{ account.screen_name }}
				<a href="#" class="x" ng-click="removeDelegate(account.id)">X</a>
			</span>
		</li>
	</ul>

	<div class="row">
		<form name="newDelegateForm" novalidate ng-submit="checkDelegate()">
		<input name="newDelegate" 
			ng-model="newDelegate" 
			required>
		<div class="button-holder">
			<button>Add</button>
		</div>
		<div ng-show="newDelegateForm.newDelegate.$touched && newDelegateForm.newDelegate.$error" ng-messages="newDelegateForm.newDelegate.$error">
			<div ng-message="required">You must enter a Twitter username.</div>
			<div ng-message="duplicate">You've already delegated to this account.</div>
		</div>
		</form>
	</div>

	

	<div class="row">
		<h2>Recent Tweets by @{{ selectedAccount.screen_name }}</h2>
		<div id="tweet-container" ng-bind-html="tweets" ng-hide="tweetsLoading">
			
		</div>
	</div>

	<script>window.twttr = (function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0],
	    t = window.twttr || {};
	  if (d.getElementById(id)) return t;
	  js = d.createElement(s);
	  js.id = id;
	  js.src = "https://platform.twitter.com/widgets.js";
	  fjs.parentNode.insertBefore(js, fjs);
	 
	  t._e = [];
	  t.ready = function(f) {
	    t._e.push(f);
	  };
	 
	  return t;
	}(document, "script", "twitter-wjs"));</script>
